h1 { font-size: 22px; }

.banner h1{

    text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {
    color: white;
    background: url('https://media.tenor.com/images/0980a7a2111ba079c975c159cc9a4d9b/tenor.gif') top left/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }